<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <!-- <% include ./header/Header.ejs %> -->
    <h1>Error 404: Page not found!</h1>
    <img src="../Data/JohnT.gif"/>
</body>
</html>