<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../Stylesheets/Main_Stylesheet.css">
	<title>Termek</title>
</head>
<body>
	<div>
		<table border="1px">
			<thead>
				<tr>
					<th id="tableTitle"; colspan="7">E heti órák</th>
				</tr>
				<tr>
					<th></th>
					<th class="napok"; id="hetfo">Hétfő</th>
					<th class="napok"; id="kedd">Kedd</th>
					<th class="napok"; id="szerda">Szerda</th>
					<th class="napok"; id="csutortok">Csütörtök</th>
					<th class="napok"; id="pentek">Péntek</th>
				</tr>			
			</thead>
			<tbody>
				<tr>
					<td class="ora">1. óra</td>
				</tr>
				<tr>
					<td class="ora">2. óra</td>
				</tr>
				<tr>
					<td class="ora">3. óra</td>
				</tr>
				<tr>
					<td class="ora">4. óra</td>
				</tr>
				<tr>
					<td class="ora">5. óra</td>
				</tr>
				<tr>
					<td class="ora">6. óra</td>
				</tr>
				<tr>
					<td class="ora">7. óra</td>
				</tr>
				<tr>
					<td class="ora">8. óra</td>
				</tr>
			
			</tbody>
		</table>
	</div>
</body>
</html>