<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../Stylesheets/Main_Stylesheet.css">
	<title>Termek</title>
</head>
<body>
	<% include ./header/Header.ejs %>
	<div>
		<table border="1px">
			<thead>
				<tr>
					<th id="tableTitle"; colspan="7">E heti órák</th>
				</tr>
				<tr>
					<th></th>
					<th class="napok"; id="hetfo">Hétfő</th>
					<th class="napok"; id="kedd">Kedd</th>
					<th class="napok"; id="szerda">Szerda</th>
					<th class="napok"; id="csutortok">Csütörtök</th>
					<th class="napok"; id="pentek">Péntek</th>
				</tr>
			</thead>
			<tbody>

				<% for(var i = 0; i < hossz; i++){ %>
					<tr>
						<% for (var j = 0; j < 6; j++){ %>
							<% if (i*j === 0 && j === 0){ %>
								<td class="ora">
									<%= oraarray[i][j].oraszam %>
								</td>
							<% }else{ %>
								<td>
									<%= oraarray[i][j].ora %>
									<form action="/submit" method="post">
										<input type="text" name="name"></input>
										<input type="hidden" name="id" value="
										<%= i*5+j %>
										"/>
										<input type="submit" value="submit"></input>
									</form>
								</td>
							<% }; %>
						<% }; %>
					</tr>
				<% }; %>



			</tbody>
		</table>
	</div>
</body>
</html>
