<!DOCTYPE html>
<html>
  <head>
    <title>Newmain</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <script type="application/json" src="../Data/OraId.json"></script>
    <script type="text/javascript">

      function pamacs(){
        var url = window.location.search.substring(1);
        var mydata = JSON.parse();
        console.log(url);
      }

    </script>
    <div class="container-fluid"; style="text-align:center">
      <table class="table table-stripped table-bordered table-hover table-condensed table-responsive"; style="text-align:center">
        <thead>
          <tr>
            <th>Teremszámok:</th>
            <th><a href="?101" onclick="pamacs()">42</a></th>
            <th><a href="#" >43</a></th>
            <th><a href="#" >44</a></th>
            <th><a href="#" >420</a></th>
            <th><a href="#" >69</a></th>
          </tr>
          <tr>
            <th>Tanárok:</th>
  					<th class="active"; id="hetfo"; style="text-align:center">Hétfő</th>
  					<th class="success"; id="kedd"; style="text-align:center">Kedd</th>
  					<th class="warning"; id="szerda"; style="text-align:center">Szerda</th>
  					<th class="info"; id="csutortok"; style="text-align:center">Csütörtök</th>
  					<th class="danger"; id="pentek"; style="text-align:center">Péntek</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < 8; i++){ %>
            <tr>
              <% for (var j = 0; j < 6; j++){ %>
                <% if (j === 0){ %>
                  <td><%= i + 1 %>. óra</td>
                <% } else { %>
                  <td id= <%= i*5+j %>></td>
                <% }; %>
              <% }; %>
            </tr>
          <% }; %>  
        </tbody>
      </table>
    </div>
  </body>
</html>
