<!DOCTYPE html>
<html>
  <head>
    <title>Newmain</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid"; style="text-align:center">
      <table class="table table-stripped table-bordered table-hover table-condensed table-responsive"; style="text-align:center">
        <thead>
          <tr>
            <th colspan="2">Teremszámok:</th>
            <th>42</th>
            <th>43</th>
            <th>44</th>
            <th>420</th>
            <th>69</th>
          </tr>
          <tr>
            <th colspan="2">Tanárok:</th>
  					<th class="active"; id="hetfo"; style="text-align:center">Hétfő</th>
  					<th class="success"; id="kedd"; style="text-align:center">Kedd</th>
  					<th class="warning"; id="szerda"; style="text-align:center">Szerda</th>
  					<th class="info"; id="csutortok"; style="text-align:center">Csütörtök</th>
  					<th class="danger"; id="pentek"; style="text-align:center">Péntek</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>D.M.A.</td>
            <td>1. óra</td>
            <% for (var i = 0; i < 5; i++) { %>
            <td><div><div></div></div></td>
            <% } %>
          </tr>
          <tr>
            <td>N.L.</td>
            <td>2. óra</td>
            <% for (var i = 0; i < 5; i++) { %>
            <td><div><div></div></div></td>
            <% } %>
          </tr>
          <tr>
            <td>Sz.G.</td>
            <td>3. óra</td>
            <% for (var i = 0; i < 5; i++) { %>
            <td><div><div></div></div></td>
            <% } %>
          </tr>
          <tr>
            <td>Cs.G.</td>
            <td>4. óra</td>
            <% for (var i = 0; i < 5; i++) { %>
            <td><div><div></div></div></td>
            <% } %>
          </tr>
          <tr>
            <td>C.I.</td>
            <td>5. óra</td>
            <% for (var i = 0; i < 5; i++) { %>
            <td><div><div></div></div></td>
            <% } %>
          </tr>
          <tr>
            <td></td>
            <td>6. óra</td>
          </tr>
          <tr>
            <td></td>
            <td>7. óra</td>
          </tr>
          <tr>
            <td></td>
            <td>8. óra</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
