<!DOCTYPE html>
<html>
  <head>
    <title>Newmain</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Stylesheets/NewMain_Stylesheet.css">
  </head>
  <body>
    <script type="text/javascript">
      var oraData = <%-JSON.stringify(oraarray) %>;
      var feher = "black";
      var fekete = "black";

      function Update(){
        event.preventDefault();
        //console.log(oraData);
        
        var url = window.location.search.substring(1);
        var OraTalalat = OraKeres(url);
        
        Szinezes(feher);
        
        KivalasztEsSzinez(OraTalalat, fekete);
      }

      function OraKeres(oraszam){
        console.log(oraData);
        var tomb = oraData[0][101]
        for (var i = 0; i < oraData.length; i++){
          if(oraData[i] == oraszam){
            return oraData[i];
            break;
          }
        }
      }

      function Szinezes(szin){
        for (var i = 1; i <= 40; i++){
          document.getElementById(i.toString()).style.backgroundColor = szin;
        }
      }

      function KivalasztEsSzinez(oraszam, szin){
        for (var i = 0; i < oraszam.length; i++){
          var id = oraszam[i].megj;
          document.getElementById(id).style.backgroundColor = szin;
        }
      }

    </script>
    <div class="container-fluid"; style="text-align:center">
      <table class="table table-stripped table-bordered table-hover table-condensed table-responsive"; style="text-align:center">
        <thead>
          <tr>
            <th>Teremszámok:</th>
            <th><a href="?101" onclick="Update()">42</a></th>
            <th><a href="#" >43</a></th>
            <th><a href="#" >44</a></th>
            <th><a href="#" >420</a></th>
            <th><a href="#" >69</a></th>
          </tr>
          <tr>
            <th>Tanárok:</th>
  					<th class="active"; id="hetfo"; style="text-align:center">Hétfő</th>
  					<th class="success"; id="kedd"; style="text-align:center">Kedd</th>
  					<th class="warning"; id="szerda"; style="text-align:center">Szerda</th>
  					<th class="info"; id="csutortok"; style="text-align:center">Csütörtök</th>
  					<th class="danger"; id="pentek"; style="text-align:center">Péntek</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < 8; i++){ %>
            <tr>
              <% for (var j = 0; j < 6; j++){ %>
                <% if (j === 0){ %>
                  <td><%= i + 1 %>. óra</td>
                <% } else { %>
                  <td id= <%= i*5+j %>></td>
                <% }; %>
              <% }; %>
            </tr>
          <% }; %>  
        </tbody>
      </table>
    </div>
  </body>
</html>
