<!DOCTYPE html>
<html>
<head>
	<title>Sikeres Regisztráció</title>
</head>
<body>
	<p>Sikeresen regisztrált, miután az admin ellenőrizte jogosultságát értesíteni fogjuk a megadott e-mail címén.</p>
	<a href="/login">Vissza a bejelentkezéshez</a>
</body>
</html>